.title {
    text-align: center;
    padding: 2%;
}

#txt{
    font-family: 'Times New Roman', Times, serif;
}

.title h2 {
    color: #5f9bce;
    font-family: 'Times New Roman', Times, serif;
}

.title p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10pt;
}

.img_m {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container_i {
    margin-top: -7%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container_v {
    margin-top: -27%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto es opcional, ajusta la altura según tu diseño */
}

.container_t {
    margin-top: -22%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13.5pt;
}
.container_l {
    text-align: center; /* Centra el texto dentro de la div */
    margin-top: -8%;
}

.container_l h2 {
    margin-bottom: 20px; /* Añade un espacio en la parte inferior del encabezado */
}

.caracteristicas {
    text-align: left; /* Alinea la lista de características a la izquierda */
    max-width: 400px; /* Define un ancho máximo para el contenido de la lista */
    margin: 0 auto; /* Centra horizontalmente la lista */
    padding-left: 0; /* Elimina el relleno izquierdo predeterminado de la lista */
}

.caracteristicas li {
    margin-bottom: 10px; /* Añade un espacio entre cada elemento de la lista */
}

/* productos */
#product h2{
    text-align: center;
    color: #5f9bce;
    font-family: 'Times New Roman', Times, serif;
}

#carrusel h2{
    text-align: center;
    color: #5f9bce;
    font-family: 'Times New Roman', Times, serif;
}

/* nosotros */
#nosotros h2{
    text-align: center;
    color: #5f9bce;
    font-family: 'Times New Roman', Times, serif;
}

/* contactos */
#contactos h2{
    text-align: center;
    color: #5f9bce;
    font-family: 'Times New Roman', Times, serif;
}

.footer {
    width: 100%;
    height: 50px;
    /* Altura del footer */
    background-color: black;
    color: #fff;
    text-align: center;
    bottom: 0;
}